@{
    ViewBag.Title = "Thay đổi mật khẩu thành công.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bạn đã thay đổi mật khẩu thành công. Vui lòng đăng nhập lại @Html.ActionLink("tại đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
