.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 44px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: transparent;
  font-family: "Cabin Condensed", Arial, sans-serif;
  color: #333333;
  font-size: 24px;
  line-height: 21.81818182px;
  margin: 0 0 11px 0;
  padding: 0 0 0 22px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 22px;
  }
}
.module-title:before {
  background: #f2533d;
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.eshop-products-heading,
.page-header h2,
h1.eshop-category-title,
.page-header h1.page-title {
  background: transparent;
  font-family: "Cabin Condensed", Arial, sans-serif;
  color: #333333;
  font-size: 24px;
  line-height: 21.81818182px;
  margin: 0 0 11px 0;
  padding: 0 0 0 22px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
@media screen and (min-width: 768px) {
  .eshop-products-heading,
  .page-header h2,
  h1.eshop-category-title,
  .page-header h1.page-title {
    margin-bottom: 22px;
  }
}
.eshop-products-heading:before,
.page-header h2:before,
h1.eshop-category-title:before,
.page-header h1.page-title:before {
  background: #f2533d;
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.eshop-information .eshop-info-title .title-block:before {
  background: #f2533d;
}
.eshop-information .eshop-info-title .title-block:after {
  background: #f2533d;
}
.module-ct {
  background: transparent;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 22px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding-top: 11px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 7.33333333px 0;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.categories-module h4 a,
ul.categories-module h4 a,
.category-module h4 a,
ul.category-module h4 a {
  color: #555555;
}
.categories-module h4 a:hover,
ul.categories-module h4 a:hover,
.category-module h4 a:hover,
ul.category-module h4 a:hover {
  color: #f2533d;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
  float: left;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 0px;
  color: #555555;
  display: block;
  line-height: normal;
  padding: 6px 8px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #f2533d;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #d4260e;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}
.t3-slideshow .sp-slider-items .item-2 .sp-introtext {
  color: #f2533d;
}
.t3-slideshow .sp-slider-items .item-3 h1 {
  color: #f2533d;
}
.t3-slideshow .sp-slider-items .item-3 .sp-slider-content .btn {
  background: #f2533d;
  border-color: #f2533d;
}
.t3-slideshow .sp-awetive-layout .slide-indicators li {
  background-color: #f2533d;
}
.t3-slideshow .sp-awetive-layout .slide-indicators li.active {
  background: none;
  border: 1px solid #f2533d;
}
.t3-testimonial #sp-testimonial-wrapper #monialsfader #monials li .img img {
  border: 2px #f2533d solid;
}
.t3-testimonial li .author .author_name {
  color: #f2533d;
}
.t3-testimonial .osTestimonial ol.carousel-indicators li {
  display: inline-block;
  border: none;
  float: none;
  background-color: #ababab;
  margin: 1px 5px 1px 1px;
}
.t3-testimonial .osTestimonial ol.carousel-indicators li.active {
  border: none;
  background-color: #f2533d;
}
.t3-module .product-infor-block .sale-price,
.t3-module .product-infor-block .eshop-price,
.t3-module .product-infor-block .price {
  display: inline;
  color: #f2533d;
}
.t3-eshop-products .eshop-product.list .eshop-wrap-grid-boxes,
.t3-sidebar .eshop-product.list .eshop-wrap-grid-boxes {
  border-bottom: 1px dashed #eeeeee;
  margin: 0 0 14.66666667px;
  padding: 0 0 14.66666667px;
}
.t3-eshop-products .eshop-product.list .eshop-wrap-grid-boxes h4.eshop-product-title,
.t3-sidebar .eshop-product.list .eshop-wrap-grid-boxes h4.eshop-product-title {
  color: #222222;
  font-size: 14px;
  margin: 0 0 11px;
}
/*.t3-eshop-products .eshop-product.list .eshop-product-row:last-child .eshop-wrap-grid-boxes,*/
.t3-sidebar .eshop-product.list .eshop-product-row:last-child .eshop-wrap-grid-boxes {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.eshop-category ul li a:hover,
.eshop-category ul li a.active {
  color: #f2533d !important;
}
.eshop-product-tabs #productTab {
  padding: 0 0 22px;
}
.eshop-product-tabs #productTab li {
  margin-left: 11px;
}
.eshop-product-tabs #productTab li a {
  background: #eeeeee;
  color: #555555;
}
.eshop-product-tabs #productTab li a:hover {
  color: #ffffff;
  background: #f2533d;
}
.eshop-product-tabs #productTab li.active a {
  color: #ffffff;
  background: #f2533d;
}
.eshop-product-tabs .padding-inner,
.t3-latest-product .padding-inner,
.t3-featured-product .padding-inner,
.mega-dropdown-inner .padding-inner {
  padding: 0 13.75px;
}
.eshop-product-tabs .image,
.t3-latest-product .image,
.t3-featured-product .image,
.mega-dropdown-inner .image {
  position: relative;
  overflow: hidden;
}
.eshop-product-tabs h4.eshop-product-title,
.t3-latest-product h4.eshop-product-title,
.t3-featured-product h4.eshop-product-title,
.mega-dropdown-inner h4.eshop-product-title {
  text-transform: uppercase;
  margin: 10px 0;
}
.eshop-product-tabs h4.eshop-product-title a,
.t3-latest-product h4.eshop-product-title a,
.t3-featured-product h4.eshop-product-title a,
.mega-dropdown-inner h4.eshop-product-title a{
  color: #222534;
      white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size: 16px;
}

h4.eshop-product-title a{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size: 16px;
}

.eshop-product-tabs .eshop-base-price,
.t3-latest-product .eshop-base-price,
.t3-featured-product .eshop-base-price,
.mega-dropdown-inner .eshop-base-price,
.eshop-product-tabs .eshop-sale-price,
.t3-latest-product .eshop-sale-price,
.t3-featured-product .eshop-sale-price,
.mega-dropdown-inner .eshop-sale-price,
.eshop-product-tabs .eshop-price,
.t3-latest-product .eshop-price,
.t3-featured-product .eshop-price,
.mega-dropdown-inner .eshop-price {
  display: inline-block !important;
  font-size: 15px;
  line-height: normal;
}
.eshop-product-tabs .eshop-base-price,
.t3-latest-product .eshop-base-price,
.t3-featured-product .eshop-base-price,
.mega-dropdown-inner .eshop-base-price {
  color: #cccccc;
}
.eshop-product-tabs .eshop-sale-price,
.t3-latest-product .eshop-sale-price,
.t3-featured-product .eshop-sale-price,
.mega-dropdown-inner .eshop-sale-price,
.eshop-product-tabs .eshop-price,
.t3-latest-product .eshop-price,
.t3-featured-product .eshop-price,
.mega-dropdown-inner .eshop-price {
  color: #f2533d;
  clear: both;
  display: block;
  font-weight: bold;
}
.eshop-product-tabs .btn-primary,
.t3-latest-product .btn-primary,
.t3-featured-product .btn-primary,
.mega-dropdown-inner .btn-primary {
  float: right;
  text-transform: uppercase;
  position: relative;
  padding-left: 30.8px;
}
.eshop-product-tabs .btn-primary:before,
.t3-latest-product .btn-primary:before,
.t3-featured-product .btn-primary:before,
.mega-dropdown-inner .btn-primary:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  left: 8px;
  top: 10px;
  content: "\f07a";
  position: absolute;
}
.eshop-product-tabs .category-view-all,
.t3-latest-product .category-view-all,
.t3-featured-product .category-view-all,
.mega-dropdown-inner .category-view-all {
  padding-top: 22px;
}
.eshop-product-tabs .category-view-all .btn-primary,
.t3-latest-product .category-view-all .btn-primary,
.t3-featured-product .category-view-all .btn-primary,
.mega-dropdown-inner .category-view-all .btn-primary {
  float: none;
  padding-left: 11.57894737px;
}
.eshop-product-tabs .category-view-all .btn-primary:before,
.t3-latest-product .category-view-all .btn-primary:before,
.t3-featured-product .category-view-all .btn-primary:before,
.mega-dropdown-inner .category-view-all .btn-primary:before {
  display: none;
}
.eshop-product-tabs .pagination,
.t3-latest-product .pagination,
.t3-featured-product .pagination,
.mega-dropdown-inner .pagination {
  float: right;
  height: auto;
  margin: 0;
  overflow: hidden;
}
.eshop-product-tabs .pagination .eshop-first,
.t3-latest-product .pagination .eshop-first,
.t3-featured-product .pagination .eshop-first,
.mega-dropdown-inner .pagination .eshop-first,
.eshop-product-tabs .pagination .eshop-last,
.t3-latest-product .pagination .eshop-last,
.t3-featured-product .pagination .eshop-last,
.mega-dropdown-inner .pagination .eshop-last,
.eshop-product-tabs .pagination .eshop-previous,
.t3-latest-product .pagination .eshop-previous,
.t3-featured-product .pagination .eshop-previous,
.mega-dropdown-inner .pagination .eshop-previous,
.eshop-product-tabs .pagination .eshop-next,
.t3-latest-product .pagination .eshop-next,
.t3-featured-product .pagination .eshop-next,
.mega-dropdown-inner .pagination .eshop-next {
  display: none;
}
.eshop-product-tabs .pagination ul,
.t3-latest-product .pagination ul,
.t3-featured-product .pagination ul,
.mega-dropdown-inner .pagination ul {
  overflow: hidden;
}
.eshop-product-tabs .pagination ul a,
.t3-latest-product .pagination ul a,
.t3-featured-product .pagination ul a,
.mega-dropdown-inner .pagination ul a {
  background: #b2b2b2;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.eshop-product-tabs .pagination ul a.eshop-current,
.t3-latest-product .pagination ul a.eshop-current,
.t3-featured-product .pagination ul a.eshop-current,
.mega-dropdown-inner .pagination ul a.eshop-current {
  background: #f2533d;
}
.t3-featured-product h4.eshop-product-title,
.mega-dropdown-inner h4.eshop-product-title {
  font-size: 14px;
}
.t3-featured-product .eshop-price,
.mega-dropdown-inner .eshop-price,
.t3-featured-product .base-price,
.mega-dropdown-inner .base-price,
.t3-featured-product .eshop-base-price,
.mega-dropdown-inner .eshop-base-price,
.t3-featured-product .eshop-sale-price,
.mega-dropdown-inner .eshop-sale-price {
  text-align: right;
  display: block !important;
}
@media screen and (min-width: 768px) {
  .t3-featured-product .eshop_product.col-lg-2,
  .mega-dropdown-inner .eshop_product.col-lg-2 {
    width: 20%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .t3-featured-product .eshop_product.col-lg-2,
  .mega-dropdown-inner .eshop_product.col-lg-2 {
    width: 50%;
  }
  .t3-featured-product .eshop-product .eshop-wrap-product,
  .mega-dropdown-inner .eshop-product .eshop-wrap-product {
    display: inline-block;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .t3-featured-product .eshop-product .eshop-wrap-product,
  .mega-dropdown-inner .eshop-product .eshop-wrap-product,
  .t3-featured-product .product-tab-content .eshop-product-tab,
  .mega-dropdown-inner .product-tab-content .eshop-product-tab {
    display: inline-block;
    width: auto;
  }
}
.t3-featured-product .eshop-price,
.t3-featured-product .base-price,
.t3-featured-product .eshop-base-price,
.t3-featured-product .eshop-sale-price {
  float: right;
}
.eshop-related-product {
  position: relative;
}
.eshop-related-product .slick-prev,
.eshop-related-product .slick-next {
  top: -45px;
}
.eshop-related-product .related {
  display: table;
  width: 100%;
}
.eshop-related-product .related .col-md-6 {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.eshop_advanced_search h4 {
  border-color: #eeeeee;
}
.eshop_advanced_search h4 a {
  color: #666666;
}
.eshop_advanced_search .noUi-background {
  background: #eeeeee;
  border-radius: 0px;
}
.eshop_advanced_search .noUi-connect {
  background: #f2533d;
}
.eshop_advanced_search .noUi-handle {
  background: #666666;
  border-radius: 0px;
}