/*@import '../../../../components/com_eshop/themes/default/css/font.html';*/
.eshop-search {	
}
.eshop-search .input-append, .eshop-search .input-prepend {
	margin: 0;
}
#product_search{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    margin: 0;
    outline: 0 none !important;
    padding: 0.4em 0;
    width: 100%;
}
.ui-icon-searchfield:after {
    content: "";
    height: 18px;
    left: 7px;
    margin-top: -9px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 18px;
}
.ui-icon-searchfield:after{
    background-position: -612px 50%;
}
.ui-icon, .ui-icon-searchfield:after {
    background: url("../images/search-icon.html") no-repeat scroll 98% 50% #EFF8FA;
}
.ui-listview-filter .ui-input-search {
    display: block;
    margin: 5px;
    width: auto;
}
.ui-input-search {
    padding-left:30px;
    padding-right: 5px; 
}
.ui-input-search, div.ui-input-text {
    background-image: none;
    margin: 0.5em 0;
    position: relative;
}
.ui-shadow-inset {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.eshop-loadding{
	 background: url("../images/loader.html") no-repeat scroll right 8px transparent !important;
}

#eshop_result{
	list-style: none;
	margin: 0px;
	padding: 0;
	top: 100%;
	right: -20px;
	border: 1px #eee solid;
}
#eshop_result li {
	margin: 25px;
	border-bottom: 1px #ddd dashed;
	padding-bottom: 20px;
}
#eshop_result li .eshop-result-wrap {
}
#eshop_result li:last-child {
	border: none;
	padding-bottom: 0;
}
#eshop_result li:hover {
}
#eshop_result .col-md-9 {
	padding-left: 0;
}
#eshop_result .eshop-product-title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 8px;
}
#eshop_result .eshop-product-title a {
	color: #333;
}
#eshop_result .eshop-base-price {
    color: #cccccc;
    text-decoration: line-through;
}
#eshop_result .eshop-sale-price, #eshop_result .eshop-price {
    color: #36c2b9;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
#eshop_result li > div{
}
#eshop_result img{
}

#eshop-view-search-result {
	background: #36c2b9;
	padding: 21px 25px;
	margin-top: -26px;
}
#eshop-view-search-result .btn {
	font-weight: bold;
	text-transform: uppercase;
}
