<div id="t3-mainbody" class="container t3-mainbody">
    <div class="row">
        <!-- MAIN CONTENT -->
        <div id="t3-content" class="t3-content col-xs-12">
            <div id="system-message-container">
            </div>

            <div class="eshop-shop-introduction">
                <h1 style="text-align: center;">CHÀO MỪNG!</h1>
                <h2 style="text-align: center;">ĐẾN VỚI FASHIONGO</h2>
                <p style="text-align: center;">Với mục tiêu tạo ra những trải nghiệm mua sắm thời trang trực tuyến tuyệt vời, FashionGo (FG) ra đời và luôn nỗ lực để mang đến khách hàng mua sắm thời trang: Kho thời trang chất lượng, Giá cả cạnh tranh, Dịch vụ chăm sóc khách hàng tận tâm... và hơn thế chung tôi luôn cam kết bằng hành động của mình. Chúc bạn lựa chọn được phong cách phù hợp với mình cùng FG!</p>
                <p style="text-align: center;"><a class="btn btn-primary" href="@Url.RouteUrl("PageDetails", new { Slug = "gioi-thieu-ve-fashiongo" })" title="Giới thiệu về FashionGo">Đọc thêm</a></p>
            </div>

        </div>
        <!-- //MAIN CONTENT -->
    </div>
</div>
