@model IEnumerable<FashionGo.Models.Entities.Slider>

<nav class="wrap t3-slideshow ">
    <div class="inner">
        <div id="sp-smart-slider" class="sp-smart-slider sp-awetive-layout  ">

            <div class="sp-slider-items">

                <div class="sp-slider-item odd animate-in ">
                    <div class="sp-slider-image" style="background-image: url('http://eshoptemplates.com/fashionpro/images/sampledata/slideshow/sl-1.jpg');"></div>

                    <div class="container">
                        <div class="sp-slider-content">


                            <h1 class="sp-title sp-animation-1">
                                New
                            </h1>

                            <h2 class="sp-posttitle sp-animation-2">
                                Collection
                            </h2>


                            <p class="sp-introtext sp-animation-3">

                                Autumn 2015
                            </p>



                            <div class="clearfix"></div>


                            <a class="btn btn-primary" href="#" class="btn-more sp-animation-5">
                                Shop Now
                            </a>


                            <div class="clearfix"></div>

                        </div><!--/.sp-slider-content-->
                    </div>
                </div><!--/.slider-item-->

                <div class="sp-slider-item even  ">
                    <div class="sp-slider-image" style="background-image: url('http://eshoptemplates.com/fashionpro/images/sampledata/slideshow/sl-2.jpg');"></div>

                    <div class="container">
                        <div class="sp-slider-content">


                            <h1 class="sp-title sp-animation-1">
                                Sale
                            </h1>

                            <h2 class="sp-posttitle sp-animation-2">
                                get up to
                            </h2>


                            <p class="sp-introtext sp-animation-3">

                                50%
                            </p>


                            <div class="sp-full-text sp-animation-4">
                                off
                            </div>



                            <div class="clearfix"></div>




                            <div class="clearfix"></div>

                        </div><!--/.sp-slider-content-->
                    </div>
                </div><!--/.slider-item-->

                <div class="sp-slider-item odd  ">
                    <div class="sp-slider-image" style="background-image: url('http://eshoptemplates.com/fashionpro/images/sampledata/slideshow/sl-3.jpg');"></div>

                    <div class="container">
                        <div class="sp-slider-content">


                            <h1 class="sp-title sp-animation-1">
                                Dress
                            </h1>

                            <h2 class="sp-posttitle sp-animation-2">
                                Collection
                            </h2>


                            <p class="sp-introtext sp-animation-3">

                                2015
                            </p>





                            <div class="clearfix"></div>


                            <a class="btn btn-primary" href="#" class="btn-more sp-animation-5">
                                Shop Now
                            </a>

                            <div class="clearfix"></div>

                        </div><!--/.sp-slider-content-->
                    </div>
                </div><!--/.slider-item-->
            </div><!--/.slider-items-->
            <ol class="slide-indicators">
                <li class="active">
                    <span class="text-hide">show</span>
                <li class="">
                    <span class="text-hide">show</span>
                <li class="">
                    <span class="text-hide">show</span>
            </ol>
        </div>
    </div>
</nav>
<!-- //slideshow -->
