<div class="container t3-sl shipping">
    <!-- SPOTLIGHT -->
    <div class="t3-spotlight t3-shipping  row">
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="t3-module module " id="Mod111">
                <div class="module-inner">
                    <div class="module-ct">

                        <div class="custom">
                            <p><i class="fa fa-truck"><span class="text-hide">Vận chuyển</span></i> GIAO HÀNG TOÀN QUỐC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="t3-module module " id="Mod112">
                <div class="module-inner">
                    <div class="module-ct">

                        <div class="custom">
                            <p><i class="fa fa-credit-card" aria-hidden="true"><span class="text-hide">MIỄN PHÍ VẬN CHUYỂN</span></i>FREESHIP NỘI THÀNH TP.HCM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="t3-module module " id="Mod113">
                <div class="module-inner">
                    <div class="module-ct">
                        <div class="custom">
                            <p><i class="fa fa-refresh"><span class="text-hide">Miễn phí đổi trả</span></i>MIỄN PHÍ ĐỔI TRẢ TRONG 7 NGÀY.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SPOTLIGHT -->
</div>
