
<div class="alert alert-danger">
    Access Deny. You are not have permission for this area.
    <button type="button" class="close pull-right right" data-dismiss="alert" aria-hidden="true">&times;</button>
    <a href="/Home/Index" class="btn-flat gray pull-right right" style="padding-right:20px;"><i class="fa fa-arrow-left icon-white"></i> Back </a>
    
    
</div>

