
@{
    ViewBag.Title = "Trang không tồn tại";
}

<div class="x-page inner-bottom-sm">
    <div class="row">
        <div class="col-md-12 x-text text-center">
            <h1>404</h1>
            <p>Chúng tôi không tìm thấy trang bạn yêu cầu, xin thứ lỗi vì sự bất tiện này. </p>
            <form role="form" class="outer-top-vs outer-bottom-xs">
                <input placeholder="Search" autocomplete="off">
                <button class="btn-default le-button">Tìm</button>
            </form>
            <a href="home.html"><i class="fa fa-home"></i> Về trang chủ</a>
        </div>
    </div><!-- /.row -->
</div>

