@using Commons.Libs
@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey)
                ? (List<Alert>)TempData[Alert.TempDataKey]
                : new List<Alert>();

    if (alerts.Any())
    {
        var count = 0;

        foreach (var alert in alerts)
        {
            count++;
            var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
            <div class="alert alert-@alert.AlertStyle @dismissableClass" aria-hidden="true" id="alert-@count">

                @if (alert.Dismissable)
                {
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                }
                @Html.Raw(alert.Message)
            </div>
        }

    }
}