@model IEnumerable<FashionGo.Models.Entities.Banner>
<div class="t3-sl t3-sl-1">
    <div class="container">
        <!-- SPOTLIGHT -->
        <div class="t3-spotlight t3-spotlight-1  row">
            <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="t3-module module " id="Mod114">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="custom">
                                <p><a class="post-image" href="#"><img src="/fashionpro/images/banners/banner-1.jpg" alt="" /><span class="hover_shine"> </span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="t3-module module " id="Mod115">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="custom">
                                <p><a class="post-image" href="#"><img src="/fashionpro/images/banners/banner-2.jpg" alt="" /><span class="hover_shine"> </span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SPOTLIGHT -->
    </div>
</div>