body {
}
#previews li{
    position: relative;
}

#previews li a.btnDelImage {
    display: block;
    width: 16px;
    height: 16px;
    background: #808080;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    color: #f5f1f1;
    position: absolute;
    top: 0;
    right: 0;
}

#previews li a:hover{
    text-decoration:none;
    background: #ff6a00;
}